.aio-popup-backdrop.not-mounted {
  background: none !important;
  transition: .3s;
}

.aio-popup-backdrop {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0 !important;
  top: 0 !important;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.1);
  transition: .3s;
  pointer-events: all;
  outline:none;
  flex-shrink:0;
}
.aio-popup {
  border-radius: 4px;
  font-size: 14px;
  transition: .3s;
  max-width: 100vw;
  max-height: 100vh;
  pointer-events: auto;
  display:flex;
  flex-direction: column;
  outline:none;
  z-index:10;
  position:absolute;
}
.aio-popup.rtl {direction: rtl;}
.aio-popup.not-mounted {transition: .3s;}
/**********position (fullscreen)*******/
.aio-popup-position-fullscreen>.aio-popup.not-mounted {transform: scale(0);}
.aio-popup-position-fullscreen>.aio-popup {width: 100%;height: 100%;}
/**********position (top)**************/
.aio-popup-position-top {align-items: flex-start;}
.aio-popup-position-top > .aio-popup.not-mounted {transform: translateY(-500px);}
.aio-popup-position-top > .aio-popup {width: 100%;max-height: 90vh;transform: translateY(0px);}
/**********position (bottom)***********/
.aio-popup-position-bottom {align-items: flex-end;}
.aio-popup-position-bottom>.aio-popup.not-mounted {opacity: 0; bottom:-500px; transform: scaleY(0);}
.aio-popup-position-bottom>.aio-popup {width: 100%; bottom: 0; opacity: 1; transform: scaleY(1); }

/**********position (left)*************/
.aio-popup-position-left {justify-content: left;}
.aio-popup-position-left > .aio-popup.not-mounted {transform: translateX(-500px);}
.aio-popup-position-left > .aio-popup {height: 100%;max-width: 90vh;transform: translateX(0px);}
/**********position (right)************/
.aio-popup-position-right {justify-content: right;}
.aio-popup-position-right > .aio-popup.not-mounted {transform: translateX(500px) scaleX(0);}
.aio-popup-position-right > .aio-popup {height: 100%;max-width: 90vh;transform: translateX(0px) scaleX(1);;}
/**********position (popover)************/
.aio-popup-position-popover {opacity: 1;}
.aio-popup-position-popover>.aio-popup.not-mounted {opacity: 0;}
/**********position (center)***********/
.aio-popup-position-center>.aio-popup.not-mounted {transform: translateY(-500px);opacity: 0;}
.aio-popup-position-center>.aio-popup {max-width: 100vw;width: fit-content;opacity: 1;max-height: 100vh;transform: translateY(0px); transform-origin:top;}
/**************************************/

.aio-popup-header {
  display:flex;
  border-bottom: 1px solid #e7e9ec;
  background: #fff;
  color: #323130;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  min-height: 36px;
  gap:12px;
}
.aio-popup-header-text{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  flex:1;
}
.aio-popup-header-subtitle {
  font-size: 85%;
  opacity: 0.5;
}
.aio-popup-header-before{
  display:flex;
  align-items: center;
  justify-content: center;
}
.aio-popup-header-after{
  display:flex;
  align-items: center;
  justify-content: center;
}
.aio-popup-body {
  background: #fff;
  flex: 1;
  width: 100%;
  overflow-y: auto;
  box-sizing:border-box;
}
.aio-popup-body *{
  box-sizing: border-box;
}

.aio-popup-footer {
  background: #fff;
  padding: 12px;
  width: 100%;
  gap: 12px;
  display: flex;
  border-top: 1px solid #f2f4f7;
  justify-content: flex-end;
  box-sizing: border-box;
}
.aio-popup-header-buttons{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:6px;
}
.aio-popup-header-button {
  padding: 0 6px;
  background: none;
  border: none;
  cursor: pointer;
}
.aio-popup-header-close-button {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 36px;
}
.aio-popup-header-after{
  display:flex;
  align-items: center;
  height:100%;
}
.aio-popup-footer-button {
  height: 30px;
  background: dodgerblue;
  border: none;
  padding: 0 24px;
  color: #fff;
  font-family: inherit;
  border-radius: 4px;
}

.aio-popup-footer-button:disabled {
  opacity: 0.4;
  background: #ddd;
  cursor: not-allowed;
}

.aio-popup-blur {
  filter: blur(5px);
}





.aio-popup-alert-container {
  position: fixed;
  z-index: 1000000000000000000000000000000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  transition:0.2s;
}

.aio-popup-alert-container.not-mounted{
  background: rgba(0, 0, 0, 0);
  transition:0.2;
}

.aio-popup-alert {
  position: relative;
  background: #fff;
  width: 90%;
  max-width: 360px;
  border-radius: 4px;
  box-shadow: 5px 8px 11px 0 rgb(0 0 0 / 17%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.aio-popup-alert-container-center .aio-popup-alert{
  transform:scale(1);
  transition:0.2s;
}
.aio-popup-alert-container-center.not-mounted .aio-popup-alert {
  transform:scale(0);
  transition:0.2s;
}
.aio-popup-alert-container-top .aio-popup-alert{
  transform:translateY(0vh);
  transition:0.2s;
}
.aio-popup-alert-container-top.not-mounted .aio-popup-alert {
  transform:translateY(-100vh);
  transition:0.2s;
}
.aio-popup-alert-container-bottom .aio-popup-alert{
  transform:translateY(0vh);
  transition:0.2s;
}
.aio-popup-alert-container-bottom.not-mounted .aio-popup-alert {
  transform:translateY(100vh);
  transition:0.2s;
}

.aio-popup-alert-error .aio-popup-alert-header svg {
  fill: red;
}

.aio-popup-alert-warning .aio-popup-alert-header svg {
  fill: orange;
}

.aio-popup-alert-info .aio-popup-alert-header svg {
  fill: dodgerblue;
}

.aio-popup-alert-success .aio-popup-alert-header svg {
  fill: green;
}

.aio-popup-alert-header {
  display: flex;
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.aio-popup-alert-body {
  padding: 0 12px;
  max-height: 400px;
  overflow-y: auto;
}

.aio-popup-alert-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.aio-popup-alert-subtext {
  font-size: 12px;

}

.aio-popup-alert-footer {
  height: 48px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
}

.aio-popup-time {
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.aio-popup-time-bar {
  position: absolute;
  background: red;
  height: 100%;
  left: 0;
}

.aio-popup-alert-error .aio-popup-time-bar {
  background: red;
}

.aio-popup-alert-warning .aio-popup-time-bar {
  background: orange;
}

.aio-popup-alert-info .aio-popup-time-bar {
  background: dodgerblue;
}

.aio-popup-alert-success .aio-popup-time-bar {
  background: green;
}

.aio-popup-alert-footer button {
  border: none;
  font-family: inherit;
  background: dodgerblue;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  padding: 3px 12px;
  border-radius: 3px;
}

.aio-popup-snackebar-item-container {
  font-size: 14px;
  height: fit-content;
  color: #fff;
  width: 100%;
  left: 0;
  position: fixed;
  transition: 0.2s;
  padding: 0 24px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  z-index: 1000000;
}
.aio-popup-snackebar-item-container.aio-popup-snackebar-item-container-horizontal-align-start {
  justify-content: flex-start;
}
.aio-popup-snackebar-item-container.aio-popup-snackebar-item-container-horizontal-align-end {
  justify-content: flex-end;
}
.aio-popup-snackebar-item-container.aio-popup-snackebar-item-container-horizontal-align-center {
  justify-content: center;
}
.aio-popup-snackebar-item-container.rtl {
  direction:rtl;
}
.aio-popup-snackebar-item-container .aio-popup-snackebar-item-uptext{
  text-align:left;
}
.aio-popup-snackebar-item-container.rtl .aio-popup-snackebar-item-uptext{
  text-align:right;
}
.aio-popup-snackebar-item {
  background: rgba(24, 28, 41, 0.945);
  padding: 12px;
  right: 100%;
  position: relative;
  width: fit-content;
  max-width:100%;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: 0.2s;
  overflow: hidden;
  box-shadow:1px 1px 10px 0 rgba(0,0,0,0.2);
  backdrop-filter:blur(4px);
}

.aio-popup-snackebar-item-container.mounted .aio-popup-snackebar-item {
  transition: 0.5s;
  right: 0;
}

.aio-popup-snackebar-item-text {
  flex: 1;
}

.aio-popup-snackebar-item-subtext {
  font-size: 85%;
  opacity: 0.67;
}

.aio-popup-snackebar-item-text svg {
  flex: 1;
}

.aio-popup-snackebar-item-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.aio-popup-snackebar-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 6px;
  border-radius: 100%;
  padding: 3px;
}
.aio-popup-snackebar-item-icon svg{
  width:48px !important;
  height:48px !important;
}

.aio-popup-snackebar-item-success .aio-popup-snackebar-item-icon {
  color: #5ba427;
}

.aio-popup-snackebar-item-error .aio-popup-snackebar-item-icon {
  color: #e83232;
}

.aio-popup-snackebar-item-warning .aio-popup-snackebar-item-icon {
  color: #ffb300;
}

.aio-popup-snackebar-item-info .aio-popup-snackebar-item-icon {
  color: #00bcff;
}

.aio-popup-snackebar-item-container .aio-popup-snackebar-bar {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 4px;
}
.aio-popup-snackebar-item-container.rtl .aio-popup-snackebar-bar {
  left: unset;
  right:0;
}

.aio-popup-snackebar-item-container.mounted .aio-popup-snackebar-bar {
  width: 100%;
}

/* .aio-popup-snackebar-container.mounted .aio-popup-snackebar-bar{
  width:50%;
} */

.aio-popup-snackebar-item-success .aio-popup-snackebar-bar {
  background: #5ba427;
}

.aio-popup-snackebar-item-error .aio-popup-snackebar-bar {
  background: #e83232;
}

.aio-popup-snackebar-item-warning .aio-popup-snackebar-bar {
  background: #ffb300;
}

.aio-popup-snackebar-item-info .aio-popup-snackebar-bar {
  background: #00bcff;
}

.aio-popup-snackebar-item-action {
  color: dodgerblue;
  border: none;
  background: none;
}
.aio-popup-confirm{
  overflow:hidden;
}
.aio-popup-confirm .aio-popup-body{
  padding:12px;
}

.aio-popup-scroll::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

.aio-popup-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.aio-popup-scroll::-webkit-scrollbar-thumb {
  background-color: #cdd4e0;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.aio-popup-scroll::-webkit-scrollbar-thumb {
  background-color: #b1b9ca;
}

.aio-popup-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #6f7888;
}
.aio-popup-theme1{
  background:#253340;
  border-radius: 12px;
  color:#fff;
  font-family:cursive;
}
.aio-popup-theme1 .aio-popup-header{
  height: 36px;
  box-shadow:0 1px 1px 0 rgba(255,255,255,0.07);
  border:none;
  background: linear-gradient(180deg, #446481, rgba(0,0,0,0.25));
  border-radius: 10px;
  color:#fff;
  font-size:12px;
}
.aio-popup-theme1 .aio-popup-body{
  background:none;
}
.aio-popup-theme1 .aio-popup-header-close-button{
  width:24px;
}

.aio-popup-theme1 .aio-popup-body button{
  background:none;
  border:1px solid rgba(255,255,255,0.8);
  color:rgba(255,255,255,0.8);
  height:30px;
  border-radius:6px;
  font-size:12px;
  padding:0 24px;
  font-family:inherit;
}
.aio-popup-theme1 .aio-popup-body button.active{
  background:dodgerblue;
  border:1px solid dodgerblue;
  color:#fff;
  height:30px;
  border-radius:6px;
  font-size:12px;
  padding:0 24px;
  font-family:inherit;
}
.aio-popup-theme1 .aio-popup-body p{
  border:1px solid #364458;
  padding:6px;
}
.aio-popup-prompt .aio-popup-body{
  padding:6px;
}
.aio-popup-prompt .aio-popup-body textarea{
  width:100%;
  left:0;
  top:0;
  border:none;
  height:60px;
  font-family:inherit;
  outline:none;
  color:inherit;
  padding:6px;
}

.aio-popup-highlight {
  font-size: 24px;
  pointer-events: none;
  direction:ltr;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
}
.aio-popup-highlight-main{
  display:flex;
  position: relative;
  box-sizing: border-box;
  overflow:hidden;
}
.aio-popup-highlight-mask {
  background: rgba(0, 0, 0, 0.8);
  pointer-events: all;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  height:100%;
  overflow:hidden;
}
.aio-popup-highlight-mask-flex{
  flex:1;
}
.aio-popup-highlight-html-container{
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  display:flex;
  flex:1;
  flex-direction: column;
  overflow:hidden;
}
.aio-popup-highlight-space{
  flex:1;
}
.aio-popup-highlight-focus-container{
  overflow:hidden;
}
.aio-popup-highlight-focus {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 24px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  position: relative;
  overflow:hidden;
}
.aio-popup-highlight-html{
  background:rgba(0,0,0,0.2);
  padding:12px;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.aio-popup-highlight-arrow{
  padding:0 12px;
  height:48px;
  box-sizing: border-box;
}
.aio-popup-highlight-arrow-bottom {
  fill: rgba(255, 255, 255, 1);
  animation-name: puls;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

.aio-popup-highlight-arrow-top {
  fill: rgba(255, 255, 255, 1);
  animation-name: puls1;
  animation-duration: 1s;
  animation-iteration-count: infinite;


}

@keyframes puls {
  0% {
      transform: translateY(12px);
      opacity: 1;
  }

  100% {
      transform: translateY(0px);
      opacity: 0;
  }
}

@keyframes puls1 {
  0% {
      transform: translateY(0px) rotate(180deg);
      opacity: 1;
  }

  100% {
      transform: translateY(12px) rotate(180deg);
      opacity: 0;
  }
}

/* .aio-popup-snackebar-item{
  background:linear-gradient(180deg, #ffffff, #d1d1d1);
  color:#222;
  font-weight:bold;
  border-radius:6px;
  border:2px solid #eee;
  box-shadow:inset 2px 1px 4px 0px rgb(0 0 0 / 19%);
}

 */
/* .aio-popup-snackebar-item{
  background:#fff;
  color:#222;
  font-weight:bold;
  border-radius:6px;
  border:1px solid #eee;
} */
